[Unit]
Description=TDK RUN
After=network.target
[Service]
Type=simple
User=root
ExecStart=/usr/bin/python3.6 /home/r201/Documents/PYTHON/main/runAll/run.py
Restart=always
# 執行時的工作目錄
# WorkingDirectory=/home/r201/Documents/PYTHON/

[Install]
WantedBy=multi-user.target